<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhlpaketrma>
                <version>2.0.1</version>
                <model>Dhl\PaketReturns\Model\Carrier\Paket</model>
                <is_online>1</is_online>
                <max_package_weight>1000</max_package_weight>

                <!-- Default elements -->
                <active>0</active>
                <active_rma>0</active_rma>
                <title>DHL Paket Returns</title>
                <sort_order>0</sort_order>
                <showmethod>0</showmethod>
                <sallowspecific>0</sallowspecific>
            </dhlpaketrma>
        </carriers>

        <dhlshippingsolutions>
            <dhlpaketrma>
                <general>
                    <default_item_weight>0.250</default_item_weight>
                    <logging_group>
                        <loglevel>400</loglevel>
                    </logging_group>
                </general>

                <account>
                    <!-- Sandbox -->
                    <sandboxmode>1</sandboxmode>
                    <sandbox>
                        <auth_username>magento_1</auth_username>
                        <auth_password>2de26b775e59279464d1c2f8546432e62413372421c672db36eaacfc2f</auth_password>
                        <api_username>2222222222_customer</api_username>
                        <api_password>uBQbZ62!ZiBiVVbhc</api_password>
                        <account_number>2222222222</account_number>
                        <account_participations backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                            <![CDATA[
                                {
                                    "_1485789382230_100":{"procedure":"07","participation":"01"},
                                    "_1485789382230_101":{"procedure":"53","participation":"01"}
                                }
                            ]]>
                        </account_participations>

                        <!-- Mapping of 2-letter-iso country code to DHL Paket return receiver id -->
                        <receiver_ids backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                            <![CDATA[
                                {
                                    "_1619538487261_261": {"iso": "AT", "receiver_id": "aut"},
                                    "_1619538513726_726": {"iso": "BE", "receiver_id": "bel"},
                                    "_1619538514326_326": {"iso": "BG", "receiver_id": "bgr"},
                                    "_1619538514879_879": {"iso": "CH", "receiver_id": "che"},
                                    "_1619538539711_711": {"iso": "CY", "receiver_id": "cyp"},
                                    "_1619538540099_99": {"iso": "CZ", "receiver_id": "cze"},
                                    "_1619538540647_647": {"iso": "DE", "receiver_id": "deu"},
                                    "_1619538541663_663": {"iso": "DK", "receiver_id": "dnk"},
                                    "_1619538542255_255": {"iso": "ES", "receiver_id": "esp"},
                                    "_1619538556095_95": {"iso": "EE", "receiver_id": "est"},
                                    "_1619538556591_591": {"iso": "FI", "receiver_id": "fin"},
                                    "_1619538557351_351": {"iso": "FR", "receiver_id": "fra"},
                                    "_1619538557903_903": {"iso": "GB", "receiver_id": "gbr"},
                                    "_1619538589105_105": {"iso": "GR", "receiver_id": "grc"},
                                    "_1619538589679_679": {"iso": "HR", "receiver_id": "hrv"},
                                    "_1619538590888_888": {"iso": "HU", "receiver_id": "hun"},
                                    "_1619538591400_400": {"iso": "IE", "receiver_id": "irl"},
                                    "_1619538591984_984": {"iso": "IT", "receiver_id": "ita"},
                                    "_1619538593159_159": {"iso": "LT", "receiver_id": "ltu"},
                                    "_1619538620080_80": {"iso": "LU", "receiver_id": "lux"},
                                    "_1619538621496_496": {"iso": "LV", "receiver_id": "lva"},
                                    "_1619538621976_976": {"iso": "MT", "receiver_id": "mlt"},
                                    "_1619538622416_416": {"iso": "NL", "receiver_id": "nld"},
                                    "_1619538623460_460": {"iso": "PL", "receiver_id": "pol"},
                                    "_1619538646601_601": {"iso": "PT", "receiver_id": "prt"},
                                    "_1619538647067_67": {"iso": "RO", "receiver_id": "rou"},
                                    "_1619538647617_617": {"iso": "SK", "receiver_id": "svk"},
                                    "_1619538648553_553": {"iso": "SI", "receiver_id": "svn"},
                                    "_1619538649006_6": {"iso": "SE", "receiver_id": "swe"}
                                }
                            ]]>
                        </receiver_ids>
                    </sandbox>

                    <production>
                        <auth_username>M2_SHIPPING_1</auth_username>
                        <auth_password>pMnRHKfNMw9O3qKMLAUhFT4cBbwotp</auth_password>
                        <api_password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>

                        <account_participations backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                            <![CDATA[
                                {
                                    "_1485789382230_100":{"procedure":"07","participation":"01"},
                                    "_1485789382230_101":{"procedure":"53","participation":"01"}
                                }
                            ]]>
                        </account_participations>

                        <receiver_ids backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized"/>
                    </production>
                </account>
            </dhlpaketrma>
        </dhlshippingsolutions>
    </default>
</config>
